.main {
  display: table-cell;
  width: 100%;
  height: 575px;
  padding: 10px;
  vertical-align: middle;
  margin: auto;
}

.front-page{
  height: 100%;
}

.scroll-msg{
  margin-top: 90px;
  margin-bottom: 0;
  font-family: garamond;
  font-weight: 50;
  position: relative;
  font-size: 80%;
}

p { font-family: Lucida Console; }
.button {
  background-color: #8f2ae7;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Courier New;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
background-color: transparent; 
color: white; 
border: 2px solid #8f2ae7;
}

.button1:hover {
background-color: #8f2ae7;
color: black;
}

.button2 {
background-color: transparent; 
color: white; 
border: 2px solid #8f2ae7;
}

.button2:hover {
background-color: #8f2ae7;
color: black;
}

body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: white;
  background-color: #4c4177;
  /*background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);*/
  background-image: url("Images/background.png");
  overflow-x: hidden;
}

.container{
  padding: 2rem;
  padding-bottom: 400px;
  margin: 0 auto;
  max-width: 800px;
}

.top-section{
  text-align: center;
  padding: 4rem 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline{
  position: relative;
  min-height: 150px;
}

.line{
  position: absolute;
  z-index: 0;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  bottom: -50px;
  background-color: #fff;
  display: none;
}

.line:before,
.line:after{
  position: absolute;
  display: black;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #a200e8;
  left: 50%;
  transform: translateX(-50%);
}

.line:after{
  bottom: 0;
}

.section{
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd){
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead{
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #6919ba;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 2;
}

.content{
  width: calc(50% - 2rem);
}

.show-me:nth-child(n){
  transform: none;
  opacity: 1;
}

h1{
  font-weight: 400;
  letter-spacing: 1px;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadein ease-in 1s;
  animation: fadein ease-in 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.fade-in.delayed {
  /*-webkit-animation-delay: .65s;
  animation-delay: .65s;*/
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.fade-in.delayed-buttons {
  -webkit-animation-delay: 3.533s;
  animation-delay: 3.533s;
}

.hidden {
  opacity:0;
}

.console-container {
 
  font-family:Garamond;
  color:white;
}

.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

.none{
  display: none;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@font-face {
  font-family: ports;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
}

.container-imgs {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ports;
  text-align: center;
}
.container-imgs > div {
  flex: 0 0 120px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: 1px 5px 15px #1e0e3e;
  position: relative;
  overflow: hidden;
}
.container-imgs > div:nth-of-type(1) {
  background: url("Images/going-green.jpg") no-repeat 50%/cover;
}
.container-imgs > div:nth-of-type(2) {
  background: url("Images/proj-2.jpg") no-repeat 50%/cover;
}
.container-imgs > div:nth-of-type(3) {
  background: url("Images/AoS.jpg") no-repeat 50%/cover;
}
.container-imgs > div:nth-of-type(4) {
  background: url("Images/maze.jpg") no-repeat 50%/cover;
}
.container-imgs > div .content-imgs {
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: #02022e;
  background: linear-gradient(0deg, rgba(2, 2, 46, 0.6755077031) 0%, rgba(255, 255, 255, 0) 100%);
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}
.container-imgs > div .content-imgs span {
  display: block;
  margin-top: 5px;
  font-size: 1.2rem;
}
.container-imgs > div:hover {
  flex: 0 0 250px;
  box-shadow: 1px 3px 15px #7645d8;
  transform: translatey(-30px);
}
.container-imgs > div:hover .content-imgs {
  opacity: 1;
  transform: translatey(0%);
  visibility: visible;
}

canvas{
  position:absolute;
  left:0;
  top:0;
  z-index:-1;
  
}